.appContainer {
    font-family: sans-serif;
}

.ruleformList {
    padding: 10px;
}

.facet {
    padding: 5px;

}

.facetInstances {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 10pt;
}
